@model IEnumerable<Bookit.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Book Gallery</h1>
<hr />
@foreach (var book in Model)
{
<div class="row">
    <div class="col-sm-2">
        <img width="350px" src="@book.ImagePath" alt="@book.ImagePath" class="img-fluid"/>
    </div>
    <div class="col-sm-10">
        <h4>@book.Name</h4>
        <p>Author : @book.Author</p>
        <p>Year : @book.Year</p>
        <p>Pages : @book.Pages</p>
        <p>Price : @book.Price</p>
        <p>
            <a asp-action="more" asp-route-id="@book.Id" asp-controller="book" asp-area="" class="btn btn-primary">more...</a>
        </p>
    </div>
</div>
<hr />
}
